name: Generate Jarvis Calendar

on:
  schedule:
    - cron: '1 17 * * *' # Chạy tự động lúc 00:01 sáng giờ VN
  workflow_dispatch: # Cho phép bấm nút chạy tay

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write # Cấp quyền cho bot sửa file

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Cài đặt thư viện đồ họa Pillow
        run: pip install Pillow

      - name: Chạy Jarvis vẽ lịch
        run: python ve_lich.py

      - name: Lưu ảnh mới và đẩy lại lên kho chứa
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add tri_wallpaper.png
          git commit -m "Cập nhật Lịch tự động [skip ci]" || echo "Không có thay đổi nào mới để commit"
          git push
