name: Generate Jarvis Calendar

on:
  schedule:
    - cron: '1 17 * * *' 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Cài đặt thư viện đồ họa Pillow
        run: pip install Pillow

      - name: Chạy Jarvis vẽ lịch (Bản của tôi)
        run: python ve_lich.py
        
      - name: Chạy Jarvis vẽ lịch (Bản của khách)
        run: python ve_lich_khach.py

      - name: Chạy Jarvis vẽ lịch (Bản của Sally)
        run: python ve_lich_sally.py

      - name: Lưu ảnh mới và đẩy lại lên kho chứa
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add *.png
          git commit -m "Cập nhật Lịch tự động [skip ci]" || echo "Không có thay đổi nào mới để commit"
          git push
